* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-transform: uppercase;
  --color-text: #fff;
  --color-yelow: #ffa900;
  --color-blue: #0000ff;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul li {
  list-style: none;
  margin-right: 20px;
}

button {
  border: none;
}

nav {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.39);
}

nav .menu-mobile {
  display: none;
}

.menu .logo {
  color: var(--color-yelow);
  font-weight: 900;
}

.menu .active,
.menu li:hover {
  color: var(--color-yelow);
  border-bottom: 2px solid var(--color-yelow);
  font-weight: 600;
}

.menu,
ul {
  display: flex;
  justify-content: space-around;
  text-transform: var(--text-transform);
}

.menu button,
.card .bnt {
  width: 200px;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--color-yelow);
  color: var(--color-text);
  text-transform: var(--text-transform);
}

.menu button:hover,
.card .bnt:hover {
  background-color: var(--color-blue);
}

.one {
  width: 100%;
  height: 500px;
  color: var(--color-text);
  position: relative;
  background: url(/img/banner.jpg) no-repeat;
  background-size: cover;
}

.one .text {
  width: 500px;
  margin: 10% 10%;
  text-align: left;
}

.one .text h1 {
  font-size: 2em;
}

.one .text p {
  margin-top: 30px;
}

.one .text button {
  width: 200px;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 20px;
  border: 2px solid var(--color-text);
  padding: 15px;
  margin-top: 50px;
  cursor: pointer;
}

.one .text button:hover {
  background-color: var(--color-yelow);
  border: none;
}

.two .card {
  width: 30%;
  margin: 0 auto;
  background-color: aliceblue;
}

.two button,
input {
  width: 200px;
  padding: 10px;
  border: none;
}

.card {
  width: 75%;
  padding: 25px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #eeefefe1;
}

.card h2 {
  color: #151515;
  font-weight: 400;
  text-transform: var(--text-transform);
}

.card .form label {
  display: block;
  font-size: 0.8em;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #15151560;
}

.card .form .list,
.card .form .department{
  padding-top: 30px;
}

.card .form input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
}

.card .form .department{
  display: flex;
  gap: 50px;
}

.card .form .department span{
  width: 100%;
}

.card .bnt {
  width: 100%;
  color: var(--color-text);
}

.card .people{
  padding: 30px;
}