* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-transform: uppercase;
  --color-text: #fff;
  --color-yelow: #ffa900;
  --color-blue: #0000ff;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul li {
  list-style: none;
  margin-right: 20px;
}

button {
  border: none;
}

/*Menu*/

.nav-button {
  border: 0;
  border-radius: 4px;
  padding: 0px;
  background-color: transparent;
  margin: 8px;
  cursor: pointer;
}

.nav-button i {
  color: #fff;
}

.overlay {
  width: 0;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 9; /*fica sobre qualquer coisa do site*/
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s;
}



.overlay-content {
  width: 100%;
  position: relative;
  top: 25%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  font-size: 34px;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay,
  .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.card .bnt,
.text-main button,
.gallery button,
.modal button {
  width: 200px;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--color-yelow);
  color: var(--color-text);
  text-transform: var(--text-transform);
}

.card .bnt,
.modal button {
  margin-top: 20px;
}

.card .bnt:hover,
.text-main button:hover,
.gallery button:hover,
.modal button:hover {
  background-color: var(--color-blue);
  transition: all 0.5s;
}

.modal {
  width: clamp(400px, 600px, 700px);
  display: none;
  position:absolute; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(224, 224, 224, 0.849);
  padding: 5%;
}

.one {
  width: 100%;
  height: 500px;
  color: var(--color-text);
  position: relative;
  background:black;
  background-size: cover;
}

.one .text {
  width: clamp(350px, 450px, 500px);
  margin: 10% 10%;
  text-align: left;
}

.one .text h1 {
  font-size: 2em;
}

.one .text p {
  margin-top: 30px;
}

.one .text button,
.footer .btn-footer {
  width: 200px;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 20px;
  border: 2px solid var(--color-text);
  padding: 15px;
  margin-top: 50px;
  cursor: pointer;
}

.one .text button:hover,
.footer .btn-footer:hover {
  background-color: var(--color-yelow);
  border: none;
  transition: ease 0.5s;
}

.two .card {
  width: clamp(30%, 30%, 40%);
  padding: 25px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: aliceblue;
}

.two button,
input {
  width: 200px;
  padding: 10px;
  border: none;
}

.card h2 {
  color: #151515;
  font-weight: 400;
  text-transform: var(--text-transform);
}

.card .form label {
  display: block;
  font-size: 0.8em;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #15151560;
}

.card .form .list,
.card .form .department {
  padding-top: 30px;
}

.card .form input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
}

.card .form .department {
  display: flex;
  gap: 50px;
}

.card .form .department span {
  width: 100%;
}

.card .bnt {
  width: 100%;
  color: var(--color-text);
}

.card .people {
  padding: 30px;
}

.text-main {
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
  margin: 0% 10%;
}

.text-main h1 {
  font-size: 48px;
  color: #151515;
  text-transform: var(--text-transform);
}

.gallery {
  padding: 5%;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 0.5s;
}

.gallery img {
  width: 90%;
  height: 400px;
  transition: scale 500ms;
  margin: 20px;
}

.gallery img:hover {
  scale: 105%;
}

.gallery .img {
  position: relative;
  overflow: hidden;
}

.gallery button {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  right: 0%;
  left: 0%;
}

.gallery .inf {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.gallery .inf span {
  color: var(--color-yelow);
}

.gallery .inf span,
.gallery .inf p {
  font-size: 1.3em;
}

.gallery .inf p:hover {
  color: var(--color-yelow);
  cursor: pointer;
}


.services {
  background-color: #f7f7f7;
}

.typeServices {
  padding:10px 10px 50px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 10px;
  overflow:hidden ;
}

.itensServices {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #1515151a;
  border-radius: 3%;
}

.itensServices:hover {
  background-color: #fff;
  box-shadow: 1px 2px 6px 1px #b8b8b834;
  transition: ease-out 0.5s;
  border: none;
}

.itensServices h2 {
  font-size: 20px;
  color: #151515;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}

.itensServices p {
  color: #15151552;
  padding: 10px 0px 25px 0px;
}

.footer {
  background-color: #151515;
  line-height: clamp(20px, 30px, 30px);
  display: flex;
  align-items: center;
}

.text-footer {
  padding: 80px 40px;
}

.footer h2 {
  color: #ffa900;
}

.footer p {
  color: #818181;
}

.footer button{
  margin-bottom: 30px;
}
